snippet ; "Brackets"
{
	$0
}
endsnippet

snippet coh "Heading Comment"
/*************************************************
*
*   ${1:Title}
*
*************************************************/
endsnippet

snippet col "Long Comment"
/*-----------------------------------------------
*   ${1:Title}
-----------------------------------------------*/
endsnippet

snippet cos "Short Comment"
/* ----- ${1:Title} ----- */$0
endsnippet
