snippet be "beforeEach()"
beforeEach(() => {
	${1://...}
});
endsnippet

snippet desc "describe()"
describe('${1:User}', () => {
	${2:// ...}
});
endsnippet

snippet ex "expect()"
expect($1)$0
endsnippet

snippet test "test()"
test('${1:save()}', () => {
	${2:// ...}
});
endsnippet
