extends sass_shared, sass_comments, sass_properties

snippet ; "Brackets"
{
	$0
}
endsnippet

snippet debug "debug"
* {
	color: red !important;
}
endsnippet

snippet mq "Media query"
@media screen and (${1:min-width}: $2) {
	$0
}
endsnippet
